.dv-title{
	width: 100%;
	padding: 7% 5% 7% 5%;
	text-align: center;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        padding: 7% 0 7% 0;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        padding: 7% 0 7% 0;
    }    
}

#dv-about-us{

}

.dv-info{
	width: 80%;
	text-align: center;
	margin: 2rem auto;

	/*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        width: 50%;
        margin: 3rem auto;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        width: 50%;
        margin: 3rem auto;
    }
}

.dv-skills-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
	text-align: center;
	margin: 2rem auto;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3rem auto;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3rem auto;
    }
}

.skill{
	width: 12rem;
	height: 3rem;
    max-width: 20rem;
    min-width: 12rem;
	margin: 1rem auto 1rem auto;	
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: $primaryColorOrange;
	border-radius: 2px;
    //flex-basis: 33%;

	/*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        flex-basis: 28%;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        flex-basis: 28%;
    }
}


