#dv-contact{
	
	.dv-title{
		width: 100%;
		padding: 3% 0 3% 0;
		text-align: center;
	}
}

.dv-bg-contact{
	background-image: url('../img/banner_contact.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.form{
	width: 80%;
	display: flex;
	align-text: center;
	margin: 5rem auto;

	/*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
    	width: 60%;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
    	width: 40%;
    }
	

	form{
		font-weight: 400;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.label-contact{
		text-align: left;
		margin: 1.5rem auto .5rem auto;
		width: inherit;	
	}

	.input, .textarea{
		width: 100%;
		border: 1px solid $secondaryColorOrange4;
	}
	.txt-alternate2{
		font-family: 'Domine', serif;
	}
	

	.input{
		min-height: 2rem;
	}

	.textarea{
		min-height: 10rem;
	}
	
}

