#dv-container{
	position: relative;
		//top: 5rem;

}
#dv-header{
	background: url('../img/dream.png') no-repeat;
	background-position: center;
	background-size: 350%;
	background-attachment: fixed;
	width: 100%;
	height: 90vh;
	padding-top: 6%;
	position: relative;
		top: 5rem;
	overflow: auto;

	//padding: 10%;
	/*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
       background-size: 200%;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
       	background-size: 150%;
    } 
}

#dv-header-mini{
	background-image: url('../img/littleDream.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 80%;
	height: 60%;
	overflow: auto;
	margin: auto;
	text-align: center;
	padding: 1%;
	margin-top: 10%;
	//box-shadow: #B9B7B7 0px 3px 3px;
	border: 1px solid $secondaryColorOrange4;
	position: relative;
		top:1rem;

	/*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
       	width: 60%;
		height: 70%;
		margin-top: auto;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
       	width: 60%;
		height: 70%;
		margin-top: auto;
    } 

    .txt-align-left{
    	text-align: left;
    	margin-left: 15%;
    	opacity: .6;
    }

    .txt-align-right{
    	text-align: right;
    	margin-right: 15%;
    	opacity: .6;
    }
}
