//BACKGROUNDS COLORS

/*palette num 1*/
.c-bg-primary1{ background-color: $primaryColorOrange; }
.c-bg-secondary1-1{ background-color: $secondaryColorOrange1; }
.c-bg-secondary1-2{ background-color: $secondaryColorOrange2; }
.c-bg-secondary1-3{ background-color: $secondaryColorOrange3; }
.c-bg-secondary1-4{ background-color: $secondaryColorOrange4; }

/*palette num 2*/
.c-bg-primary2{ background-color: $primaryColorPurple; }
.c-bg-secondary2-1{ background-color: $secondaryColorPurple1; }
.c-bg-secondary2-2{ background-color: $secondaryColorPurple2; }
.c-bg-secondary2-3{ background-color: $secondaryColorPurple3; }
.c-bg-secondary2-4{ background-color: $secondaryColorPurple4; }

/*other basics palettes*/
.c-bg-black{ background-color: $primaryColorBlack; }
.c-bg-white{ background-color: $primaryColorWhite; }


//TEXT COLORS
/*palette num 1*/
.c-txt-primary1{ color: $primaryColorOrange; }
.c-txt-secondary1-1{ color: $secondaryColorOrange1; }
.c-txt-secondary1-2{ color: $secondaryColorOrange2; }
.c-txt-secondary1-3{ color: $secondaryColorOrange3; }
.c-txt-secondary1-4{ color: $secondaryColorOrange4; }

/*palette num 2*/
.c-txt-primary2{ color: $primaryColorPurple; }
.c-txt-secondary2-1{ color: $secondaryColorPurple1; }
.c-txt-secondary2-2{ color: $secondaryColorPurple2; }
.c-txt-secondary2-3{ color: $secondaryColorPurple3; }
.c-txt-secondary2-4{ color: $secondaryColorPurple4; }

/*other basics palettes*/
.c-txt-black{ color: $primaryColorBlack; }
.c-txt-white{ color: $primaryColorWhite; }

